body {
    margin: 0;
    background-color: #BAE6FD;  
}

@font-face {
    font-family: myFirstFont;
    src: url(/CursedTimerUlil-Aznm.ttf);
    font-style: normal;
    font-weight: bold;
  }


#Heading{
    text-align: center;
    color: #E0F2FE;
    font-family:Verdana;
    font-size: 40px;
    margin-bottom: 21px;
}

.container {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 2px solid #F0F9FF;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    width: 575px;
    height: 385px;
    background-color:#7DD3FC;
}
#Box{
    width: 155px;
    height: 120px;
    background-color: #38BDF8;
    border:1px solid #F0F9FF;
    border-radius: 10px;
}

#Score{
    padding-top: 21px;
    font-family: myFirstFont;
    font-size:90px ;
    text-align: center;
    color: #E0F2FE;
}

.style-Btn{ 
    margin-left: 3px;
    font-family: myFirstFont;
    color:#E0F2FE;
    background-color: #38BDF8;
    width: 45px;
    height: 45px;
    border: 1px solid #F0F9FF;
    border-radius: 10px;
    margin-top: 21px;
    
}
.reset-Btn{
    font-family: myFirstFont;
    color:#E0F2FE;
    background-color: #38BDF8;
    width: 155px;
    height: 45px;
    border: 1px solid #F0F9FF;
    border-radius: 10px;
    margin-top: 21px;
}